body {
  opacity: 0;
  transition: opacity 1.8s;
}
body {
  color: black;
  text-align: center;
  background-color: rgb(203, 153, 126);
}
h1 {
  font-family: "Neonderthaw", cursive;
}
p {
  font-family: "Fauna One", serif;
}
#introcard {
  margin-top: 110px;
  margin-bottom: 70px;
  height: 450px;
  padding: 4%;
  border-radius: 70px;
  background-image: url(img/card.jpg);
  background-image: cover;
  opacity: 80%;
  border-width: 10px;
  border-color: white;
}
#paraspacing {
  margin-top: 50px;
}
#cardtop {
  margin-top: 15px;
}
