body {
  opacity: 0;
  transition: opacity 4s;
}
body {
  color: black;
  text-align: center;
  /* background-color: rgb(203, 153, 126); */
  background-color: rgb(212, 162, 150);
}
.parallax {
  background-image: url("img/back1.jpg");
  background-image: cover;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#titletext {
  font-size: 10vw;
}
h1,
h3 {
  font-family: "Neonderthaw", cursive;
  color: rgb(85, 27, 20);
}
p {
  font-family: "Fauna One", serif;
  color: black;
}
a {
  font-family: "Fauna One", serif;
}
#introcard {
  margin-top: 110px;
  margin-bottom: 110px;
  /* height: 450px; */
  padding: 4%;
  border-radius: 70px;
  background-image: url(img/card.jpg);
  background-image: cover;
  word-break: normal;
  border-width: 10px;
  border-color: white;
}
#paraspacing {
  margin-top: 50px;
}
#cardtop {
  margin-top: 15px;
}
#cardtop:hover {
  opacity: 85%;
}
#btns {
  background-color: rgb(85, 27, 20);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
#btns2 {
  background-color: rgb(85, 27, 20);
  color: white;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
}
